<div class="pd scroll-x">
    <table class="wf fsz-20 scroll">
        <tr class="scroll">
            <td class="wx-4">@Class</td>
            <td class="pdr-10 wx-2">@Level</td>
            <td class="pdr-10 wx-2">@Arm</td>
            <td class="pdr-10 wx-2">@Students</td>
            <td class="pdr-10 wx-2">@ClassTeacher</td>
            <td>
                <button class="cl-primary bg-transparent bd-none fsz-20 mgr-5" @onclick="HandleOnEdit">@BtnText1</button>
                <button class="cl-success bg-transparent bd-none fsz-20" @onclick="HandleOnDelete">@BtnText2</button>
            </td>
        </tr>
    </table>
</div>

@code {
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public string Level { get; set; } = "";
    [Parameter] public string Arm { get; set; } = "";
    [Parameter] public string Students { get; set; } = "";
    [Parameter] public string ClassTeacher { get; set; } = "";
    [Parameter] public string BtnText1 { get; set; } = "";
    [Parameter] public string BtnText2 { get; set; } = "";
    [Parameter] public EventCallback OnEdit { get; set; }
    [Parameter] public EventCallback OnDelete { get; set; }

    public async Task HandleOnEdit()
    {
        await OnEdit.InvokeAsync();
    }

    public async Task HandleOnDelete()
    {
        await OnDelete.InvokeAsync();
    }
}